.wishlist-btn {
  background: white;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.wishlist-btn:hover {
  background: #ffeaea;
}

.wish-active {
  color: red;
}
